header {
  height: 80px;
  width: 100%;
  position: absolute;
  position: fixed;
  top: 0;
  z-index: 20;
  transition: 0.3s;
}

header.sscroll {
  height: 80px;
  width: 100%;
  background-color: #ffffff9f;
  position: absolute;
  z-index: 20;
  position: fixed;
  top: 0;
  transition: 0.3s;
}

header img {
  width: 250px;
  position: absolute;
}

.header-menu {
  float: right;
  padding: 10px;
}

.header-menu ul li a {
  text-decoration: none;
  font-size: 1.5em;
  color: black;
  font-family: 'Barlow', 'Noto Sans JP', sans-serif;
}

.header-menu ul li a:hover {
  background: -webkit-linear-gradient(0deg, #333333 0%, #6e9cff 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-menu ul {
  display: flex;
}

.header-menu ul li {
  list-style:none;
  margin: 10px;
  margin-left: 20px;
}

.header-menu ul .head-end {
  margin-right: 70px;
}